// To get started, press Ctrl+Space (or Option+Esc) to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https: //docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https: //docs.nordicsemi.com/bundle/nrf-connect-vscode/page/guides/ncs_configure_app.html#devicetree-support-in-the-extension


/ {
  lcd_pins {
    compatible = "gpio-leds";

    ext_led: ext_led {
      gpios = <&gpio1 14 GPIO_ACTIVE_LOW>;
      label = "External LED";
    };

    lcd_rs: lcd_rs {
      gpios = <&gpio1 12 GPIO_ACTIVE_LOW>;
      label = "LCD RS";
    };
    lcd_rw: lcd_rw {
      gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;
      label = "LCD RW";
    };
    lcd_enable: lcd_enable {
      gpios = <&gpio1 10 GPIO_ACTIVE_LOW>;
      label = "LCD E";
    };
    lcd_d7: lcd_d7 {
      gpios = <&gpio1 1 GPIO_ACTIVE_LOW>;
      label = "LCD D7";
    };
    lcd_d6: lcd_d6 {
      gpios = <&gpio1 2 GPIO_ACTIVE_LOW>;
      label = "LCD D6";
    };
    lcd_d5: lcd_d5 {
      gpios = <&gpio1 3 GPIO_ACTIVE_LOW>;
      label = "LCD D5";
    };
    lcd_d4: lcd_d4 {
      gpios = <&gpio1 4 GPIO_ACTIVE_LOW>;
      label = "LCD D4";
    };
    lcd_d3: lcd_d3 {
      gpios = <&gpio1 5 GPIO_ACTIVE_LOW>;
      label = "LCD D3";
    };
    lcd_d2: lcd_d2 {
      gpios = <&gpio1 6 GPIO_ACTIVE_LOW>;
      label = "LCD D2";
    };
    lcd_d1: lcd_d1 {
      gpios = <&gpio1 7 GPIO_ACTIVE_LOW>;
      label = "LCD D1";
    };
    lcd_d0: lcd_d0 {
      gpios = <&gpio1 8 GPIO_ACTIVE_LOW>;
      label = "LCD D0";
    };
  };
};